[includeIf "gitdir:/Users/lcf/code/"]
  path = /Users/lcf/.gitconfig-personal
[includeIf "gitdir:/Users/lcf/code/github.com/tempestteam"]
  path = /Users/lcf/.gitconfig-work
[alias]
  st = status
[url "git@github.com:"]
  insteadOf = https://github.com/
[core]
  editor = /usr/bin/vim
  excludesfile = /Users/lcf/.gitignore
[pull]
  rebase = false
